name: Build Docker Images

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/presidio-analyzer.yaml"
      - "presidio-analyzer/**"

jobs:
  docker:
    name: Build Docker Images
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=microsoft/presidio
      PRESIDIO_VERSION: 2.2.361

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: microsoft/presidio
          path: presidio-upstream

      - name: Apply patch
        run: cd presidio-upstream && git apply ../presidio-analyzer/presidio-analyzer.patch

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/uninow/presidio-analyzer
          tags: |
            ${{ env.PRESIDIO_VERSION }}
            latest

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: presidio-upstream/presidio-analyzer
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
